<head>
        <title>{{page.title}}</title>
        <!--meta is stuff that is about website that isn't content -->
        <link rel="icon" type="image/png" href="favicon.png">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="description" content={{page.description}}>
        <!-- instructs user's browsers to download this font as a style sheet. -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400|Oswald|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/lib/foundation/css/normalize.css"/>
        <!--normalize is a baseline, the second css file will overwrite the first if there are overlaps, which is why you present your custom made one lasts -->
        <link rel="stylesheet" href="/lib/foundation/css/foundation.css"/>
        <link rel="stylesheet" href="/styles/main.css"/>
</head>
