<div class="row top">
        <div class="medium-8 column">
                <div id="sarah">
                        <h1>sarah e. frostenson</h1>
                </div>
                
        </div>

        <div class="medium-4 column">
                <div class="menu">
                        <ul>
                                <li><a class="menu-button" href="/">portfolio</a></li>
                                <li><a class="menu-button" href="/resume/">resume</a></li>
                                <li><a class="menu-button" href="/resume/">contact</a></li>
                        </ul>
                </div>
        </div>
</div>
