<div class="row top">
    <div class="medium-6 column">
        <a id="sarah" href="/">
            <h1>sarah e. frostenson</h1>
            <h2><span class="red">for</span> data <span class="red">in</span> journalism</h2>
        </a>
    </div>

    <div class="medium-5 medium-offset-1 columns">
        <div class="menu">
            <ul>
                <li><a class="menu-button" href="/">portfolio</a></li>
                <li><a class="menu-button" href="/resume/">resume</a></li>
                <li><a class="menu-button" href="/talks/2015-03-nicar-mapbox">talks</a></li>
<!--                       <li><a class="menu-button" href="/sandbox/">sandbox</a><li> -->
            </ul>
        </div>
    </div>
    <a class="icon gmail" href="mailto:sarah.e.frostenson@gmail.com">&nbsp;</a>
        <a class="icon github" href="https://github.com/sfrostenson" target="_blank">&nbsp;</a>
        <a class="icon twitter" href="https://twitter.com/sfrostenson" target="_blank">&nbsp;</a>
</div>

