<div class="row projects">

        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
                <a class="project-link" href="/projects/foundations.html">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Foundations</h3>
                                <hr />
                                <span>Analysis and interactive on assets and grants at major foundations</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/foundation01.png" />
                        </div>
                </a>
        </div>

         <!-- single project's container -->
        <div class="medium-6 large-4 column project">
                <a class="project-link" href="/projects/donor-advised-funds.html">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Donor-Advised Funds</h3>
                                <hr />
                                <span>Analysis and reporting on fast growing vehicles of wealth</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/daf01.png" />
                        </div>
                </a>
        </div>

         <!-- single project's container -->
        <div class="medium-6 large-4 column project">
                <a class="project-link" href="/projects/online-fundraising.html">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Online Fundraising</h3>
                                <hr />
                                <span>Interactive charting online giving at major nonprofits</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/ofr01.png" />
                        </div>
                </a>
        </div>

           <!-- single project's container -->
        <div class="medium-6 large-4 column project">
                <a class="project-link" href="/projects/foundation-transparency.html">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Foundation Transparency</h3>
                                <hr />
                                <span>Two stories on top foundations' increased efforts to share information</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/transp01.png" />
                        </div>
                </a>
        </div>

           <!-- single project's container -->
        <div class="medium-6 large-4 column project">
                <a class="project-link" href="/projects/cleaning-messy-databases.html">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Messy Databases</h3>
                                <hr />
                                <span>Feature story on best practices for cleaning and maintaining donor databases</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/messy01.png" />
                        </div>
                </a>
        </div>

           <!-- single project's container -->
        <div class="medium-6 large-4 column project">
                <a class="project-link" href="#">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Endowments</h3>
                                <hr />
                                <span>Analysis and interactive measuring return on investments at major nonprofits</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/endow01.png" />
                        </div>
                </a>
        </div>

           <!-- single project's container -->
        <div class="medium-6 large-4 column project">
                <a class="project-link" href="#">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Funding Data Projects</h3>
                                <hr />
                                <span>Two articles on increased funding from foundations for data-driven initiatives</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/gates01.png" />
                        </div>
                </a>
        </div>

          <!-- single project's container -->
        <div class="medium-6 large-4 column project">
                <a class="project-link" href="#">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Live Coverage</h3>
                                <hr />
                                <span>Live #GivingTuesday coverage and two articles on donations made in 2013</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/giving01.png" />
                        </div>
                </a>
        </div>

          <!-- single project's container -->
        <div class="medium-6 large-4 column project">
                <a class="project-link" href="#">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Internal Revenue Service</h3>
                                <hr />
                                <span>Reporting on efforts taken by the IRS to open data at tax-exempt entitites</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/irs01.png" />
                        </div>
                </a>
        </div>

          <!-- single project's container -->
        <div class="medium-6 large-4 column project">
                <a class="project-link" href="#">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Lobbying at Charities</h3>
                                <hr />
                                <span>Analysis on lobbying disclosure forms filed by charities and associations</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/lobbying01.png" />
                        </div>
                </a>
        </div>

           <!-- single project's container -->
         <div class="medium-6 large-4 column project">
                <a class="project-link" href="#">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Year End Giving</h3>
                                <hr />
                                <span>Analysis on online year end giving using Network for Good data</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/yearend01.png" />
                        </div>
                </a>
        </div>

           <!-- single project's container -->
         <div class="medium-6 large-4 column project">
                <a class="project-link" href="#">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Gifts &amp; Grants Databases</h3>
                                <hr />
                                <span>Interactive of grants worth $20,000 and more and interactive of gifts worth more than $1-million</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/gifts01.png" />
                        </div>
                </a>
        </div>

          <!-- single project's container -->
         <div class="medium-6 large-4 column project">
                <a class="project-link" href="#">
                        <div class="pattern-cover"></div>
                        <div class="project-text">
                                <h3>Sunlight Foundation</h3>
                                <hr />
                                <span>Reporting and data analysis of campaign finance records</span>
                        </div>
                        <div class="grayscale-cover"></div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/sunlight01.png" />
                        </div>
                </a>
        </div>

</div>
