<div class="row projects">
        <!-- single project's container -->
        <div class="medium-4 column project">
                <a class="project-link" href="#">
                        <div class="grayscale-cover"></div>
                        <div class="project-text">
                                <h3>Foundations</h3>
                                <hr />
                                <span>Interactive charting assets and grants at major foundations</span>
                        </div>
                        <div class="image-wrap">
                                <img class="project-image" src="/images/projects/foundation01.png" />
                        </div>
                </div>
        </div>
</div>
