<div class="row projects">
        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/chronic-conditions-medicare-costs.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Chronic Conditions</h3>
                    <hr />
                    <span>America's sickest seniors account for nearly half of Medicare spending</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/medicare01.jpg" alt="Map of six or more chronic conditions in your area" />
                </div>
            </a>
        </div>

        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/black-migration-reverses.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Black Migration Reverses</h3>
                    <hr />
                    <span>Mapping movements of African Americans from 2005-2010</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/migration01.png" alt="Map of metro areas showing the net gain and net loss of African Americans from 2005-2010" />
                </div>
            </a>
        </div>

        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/aca-health-care-data.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Healthcare.gov Data</h3>
                    <hr />
                    <span>Mapping ACA Health Care Data from 2014-2015</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/aca01.jpg" alt="Map of health care deductible premiums" />
                </div>
            </a>
        </div>

        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/corporate-giving.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Corporate Giving</h3>
                    <hr />
                    <span>Analysis and interactive on grants made at the 150 largest Fortune 500 companies</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/corporate01.jpg" alt="Scatter plot showing cash giving and pre-tax profit at top 150 Fortune 500 companies" />
                </div>
            </a>
        </div>

        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/mellon-foundation.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Mellon Foundation</h3>
                    <hr />
                    <span>Historical analysis and interactive on grants made to public and private universities</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/mellon01.jpg" alt="Filterable database of Mellon Foundation grants made to universities from 2000-2012" />
                </div>
            </a>
        </div>

        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/online-fundraising.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Online Fundraising</h3>
                    <hr />
                    <span>Interactive charting online giving at major nonprofits</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/ofr01.png" alt="Filterable database of top charities' online fundraising numbers" />
                </div>
            </a>
        </div>

        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/foundations.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Foundations</h3>
                    <hr />
                    <span>Analysis and interactive on assets, grants and expenses at major foundations</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/foundation01.png" alt="Filterable historical database of top foundations' assets, grants and expenses" />
                </div>
            </a>
        </div>
         
         <!-- single project's container -->
         <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/gifts-and-grants-databases.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Gifts &amp; Grants Databases</h3>
                    <hr />
                    <span>Interactive listing major gifts and grants</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/gifts01.png" alt="Searchable historical database of gifts made by major donors and grants made by large charities, universities and hospitals" />
                </div>
            </a>
        </div>

        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/endowments.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Endowments</h3>
                    <hr />
                    <span>Analysis and interactive measuring return on investments at major nonprofit endowments</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/endow01.png" alt="Searchable historical database of top university and charity endowments' market value and return on investment" />
                </div>
            </a>
        </div>

        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/donor-advised-funds.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Donor-Advised Funds</h3>
                    <hr />
                    <span>Analysis and reporting on fast growing vehicles of wealth</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/daf01.png" alt="Interactive showing the rapid rise of donor advised funds from 1998 to 2012" />
                </div>
            </a>
        </div>

        <!-- single project's container -->
        <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/opening-nonprofit-data.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Nonprofit Transparency</h3>
                    <hr />
                    <span>Reporting on increased efforts to share information in philanthropy</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/irs01.png" alt="Flat graphic showing the numbers of charties registered with the IRS from 1991-2012" />
                </div>
            </a>
        </div>

         <!-- single project's container -->
         <div class="medium-6 large-4 column project">
            <a class="project-link" href="/projects/sunlight-foundation.html">
                <div class="pattern-cover"></div>
                <div class="project-text">
                    <h3>Sunlight Foundation</h3>
                    <hr />
                    <span>Reporting and data analysis of campaign finance records</span>
                </div>
                <div class="grayscale-cover"></div>
                <div class="image-wrap">
                    <img class="project-image" src="/images/projects/sunlight01.png" alt="Video and reporting on political action committees courting the Hispanic voter" />
                </div>
            </a>
        </div>
    </div>