<head>
        <title>{{page.title}}</title>
        <link rel="icon" type="image/png" href="/favicon.png">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="description" content={{page.description}}>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway:400|Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/lib/foundation/css/normalize.css"/>
        <link rel="stylesheet" href="/lib/foundation/css/foundation.css"/>
        <link rel="stylesheet" href="/styles/main.css"/>
        <link rel="stylesheet" href="/styles/graphics.css"/>
</head>