<!DOCTYPE HTML>
<html>
        {% include header.html %}
	<body>

		<!-- foundation responsive css takes row as a parent to columns -->
		<div class="row top">
			<div class="medium-8 column">
				<!-- stand-in for branding image -->
			</div>

			<div class="medium-4 column">
				<div class="menu">
					<ul>
						<li><a class="menu-button" href="#">portfolio</a></li>
						<li><a class="menu-button" href="#">resume</a></li>
					</ul>
				</div>
			</div>
		</div>

                {{content}}

                {% include projects.html %}
	</body>
</html>
