h1, h2, h3, h4, h5, h6 {
	font-family: Oswald, "Helvetica Neue", Arial, sans-serif;
}

ul {
	font-family: raleway;
	list-style: none;
}

li {
	display: inline;
}

a, a:link, a:hover, a:active, a:visited {
	color: #333;
}

hr {
	border-width: 0.35em 0 0;
	margin: 0 .75em 0.8em;
	border-color: black;
}

.top {
	height: 10em;
	margin-bottom: 3em;
}

.menu {
	margin-top: 9em;
	text-align: right;
}

.menu a {
	color: #999;
	padding-right: .75em;
	padding-left: .75em;
}

.menu a:hover {
	color: #111;
}

.projects > .project:last-child {
	float: left;
}

.project {
	overflow: hidden;
	position: relative;
	margin-bottom: 2em;
}

.project-link {
	display: block;
	position: relative;
}

.project-link > div {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.grayscale-cover {
	background-color: #ddd;
	opacity: 0.05;
	z-index: 2;
	transition: all 400ms;
}

.project-text {
	position: absolute;
	text-align: center;
	margin-top: 1.5em;
	z-index: 3;
	opacity: 0;
	transition: all 400ms;
}

.project-link:hover > .grayscale-cover {
	opacity: 0.5;
}

.project-link:hover > .project-text {
	opacity: 1;
}

.project-text > h3 {
	display: inline;
	text-transform: uppercase;
	background-color: #fff480;
	font-size: 1.75em;
	line-height: 1.75em;
	padding: 0.03em 0.2em 0;
}


.project-text > span {
	font-size: 0.85em;
	background-color: #fff480;
	font-style: italic;
	margin: 0 0.2em;
	line-height: 1.475em;
	padding: 0.03em 0.2em 0;
}

.image-wrap {
	z-index: 1;
}

.project-link > .image-wrap {
	position: static;
        height: 70%;
}

.project-image {
	width: 100%;
}

.pattern-cover {
        background: url(../patterns/crosses/crosses.png) repeat;
	transition: all 400ms;
        opacity: 0;
}

.project-link:hover > .pattern-cover {
        opacity: 0.5;
}


/* article page styling */
#article-content > .column {
        margin-bottom: 5em;
}

#article-content img {
        width: 100%;
        padding: 1.25em 0.5em 2.5em;
}

#article-content a{
	color: #4183c4;
}


@media (max-width: 3000px) {
        #article-content img {
                /*padding: 1.25em 20% 2.5em;*/
        }
}

/* TODO fix media query */
/* when at two 6 medium column, last images needs to float left */
/*floating text font needs adjustment*/
@media (min-width: 968px) and (max-width: 1024px) {
        .project-text > h3 {
                font-size: 2.25em;
        }
        .project-text > span {
                font-size: 1.2em;
        }
}

@media (max-width: 1024px) {
        #article-content img {
                padding: 1.25em 0.5em 2.5em;
        }

}


@media (max-width: 640px) {
	.project-link > div {
		padding: 0 16%;
                margin-bottom: 3em;
	}

        #article-container > .projects {
                display: none;
        }

        #article-content img {
                padding: 1.25em 0.5em 2.5em;
        }
}
@media (max-width: 480px) {
	.project-link > div {
		padding: 0 8%;
                margin-bottom: 3em;
	}
}
