h2, h3, h4, h5 {
	font-family: Oswald, "Helvetica Neue", Arial, sans-serif;
}

h1 {
        font-size: 3em;
        line-height: 1.275em;
	font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
        color: #333;
}

#sarah {
        margin-top: 4em;
        display: inline-block;
}

h2 {
        font-size: 1.5em;
        line-height: 1.5em;
        font-family: "Open Sans";
        font-weight: 300;
        color: #333;
}

.menu h2 {
        font-weight: 300;
}

.red {
        color: #ff00bf;
        font-weight: 500;
}

.menu ul {
	font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
	list-style: none;
}

li {
	display: inline;
}

a, a:link, a:hover, a:active, a:visited {
	color: #333;
}

hr {
	border-width: 0.35em 0 0;
	margin: 0 .75em 0.8em;
	border-color: black;
}

.top {
	height: 10em;
	margin-bottom: 3em;
        position: relative;
}

.menu {
	margin-top: 9em;
	text-align: right;
}

.menu a {
	color: #999;
	padding-right: .75em;
	padding-left: .75em;
        font-size: 1em;
}

.menu a:hover {
	color: #111;
}

/* icons */
.icon {
        display: inline-block;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 2em;
}

.twitter {
        background: url(../images/icon/twitter_256px.png) center center no-repeat;
        background-size: 100%;
        right: 2em;
}

.github {
        background: url(../images/icon/github_64px.png) center center no-repeat;
        background-size: 100%;
        right: 5.25em;
}

.projects > .project:last-child {
	float: left;
}

.project {
	overflow: hidden;
	position: relative;
	margin-bottom: 2em;
}

.project-link {
	display: block;
	position: relative;
}

.project-link > div {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.grayscale-cover {
	background-color: #ddd;
	opacity: 0.05;
	z-index: 2;
	transition: all 400ms;
}

.project-text {
	position: absolute;
	text-align: center;
	margin-top: 1.5em;
	z-index: 3;
	opacity: 0;
	transition: all 400ms;
}

.project-link:hover > .grayscale-cover {
	opacity: 0.5;
}

.project-link:hover > .project-text {
	opacity: 1;
}

.project-text > h3 {
	display: inline;
	text-transform: uppercase;
	background-color: #81c0ff;
	font-size: 1.75em;
	line-height: 1.75em;
	padding: 0.03em 0.2em 0;
}


.project-text > span {
	font-size: 0.85em;
	background-color: #81c0ff;
	font-style: italic;
	margin: 0 0.2em;
	line-height: 1.475em;
	padding: 0.03em 0.2em 0;
}

.image-wrap {
	z-index: 1;
}

.project-link > .image-wrap {
	position: static;
        height: 70%;
}

.project-image {
	width: 100%;
}

.pattern-cover {
        background: url(../patterns/crosses/crosses.png) repeat;
	transition: all 400ms;
        opacity: 0;
}

.project-link:hover > .pattern-cover {
        opacity: 0.5;
}


/* article page styling */
#article-content > .column {
        margin-bottom: 5em;
}

#article-content img {
        width: 100%;
        padding: 1.25em 0.5em 2.5em;
}

#resume-content a,
#contact-content a,
#article-content a{
	color: #4183c4;
}

#resume-content ul {
        list-style: disc;
}

#resume-content li {
        display: list-item;
}




@media (max-width: 3000px) {
        #article-content img {
                /*padding: 1.25em 20% 2.5em;*/
        }
        .menu a {
            font-size: 1.2em;
        }
}

@media (max-width: 1024px) {
        #article-content img {
                padding: 1.25em 0.5em 2.5em;
        }
        .menu a {
            font-size: 1em;
        }
}

@media (max-width: 922px) {
        .project:nth-child(odd):after {
                content: '';
                display: block;
                clear: both;
        }

}


@media (max-width: 640px) {
	.project-link > div {
		padding: 0 16%;
                margin-bottom: 3em;
	}

        #article-container > .projects {
                display: none;
        }

        #article-content img {
                padding: 1.25em 0.5em 2.5em;
        }
        .menu {
                margin-top: 1em;
        }
}
@media (max-width: 480px) {
	.project-link > div {
		padding: 0 8%;
                margin-bottom: 3em;
	}
        .menu {
                margin-top: 1em;
        }
}
